/* Body */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    background-color: #d9dcd6;
}
 /* Body End */

/* Header */

.header {
    background-color: #2a607c;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

.header div {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

.header div ul li  {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

.header h1 , .header h1 .seo {
    color: #d9dcd6;
    display: inline-block;
    font-size: 48px;  
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Header End */

/* Main Content */

.content {
    display: inline-block;
    margin-left: 20px;
    width: 75%;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

/* Hero Section */

.hero {
    height: 800px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
     margin-bottom: 25px;
     width: 100%;
}
/* Hero End*/

/* Benifits Section*/

.benefits {
    background-color: #2589bd;
    clear: both;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    padding: 20px;
    width: 20%;    
}

.benefit-brand , .benefit-cost ,.benefit-lead {
    color: #ffffff;
    margin-bottom: 32px;
}

 .benefit-brand h3, .benefit-cost h3 ,.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img, .benefit-cost img, .benefit-lead img   {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.online-reputation-management,.search-engine-optimization,.social-media-marketing {
    background-color: #0072bb;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
    margin-bottom: 20px;
    padding: 50px;
}

.online-reputation-management h2 , .search-engine-optimization h2,
.social-media-marketing h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.online-reputation-management img,.search-engine-optimization img, .social-media-marketing img {
    max-height: 200px;
}
/*  End Benifits Section*/

/* Footer */

.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 30px;
}

.footer h2 {
    font-size: 20px;
}

/* End Footer */